<h1>Angular - Getting the Previous Url</h1>
<a routerLink="/">Home</a>
<a style="margin-left: 10px" routerLink="/landing-page">Landing Page</a>
<a style="margin-left: 10px" routerLink="/agreement">Agreement</a>
<p>Previous URL: {{ previousRoute }}</p>
<p>Current URL: {{ currentRoute }}</p>
<router-outlet></router-outlet>
